@media (min-width: 961px) {

  .page {

    display: flex;
  }

  .content{

    flex-grow: 1;
    order: 1;
  }

 .aside {

    margin-right: 4rem;
    flex: 0 0 32rem;
  }
}

@media (max-width: 960px) {

  .aside__menu {
    display: none;
  }
}
